<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>既往史</title>
	<link type="text/css" rel="stylesheet" href="../static/pastHisStyle.css">
	<script src="../static/jquery-3.1.1.min.js" type="text/javascript"></script>
</head>

<script type="text/javascript">
     $(document).ready(function(){
     	var obj= document.location.search;
        obj = obj.replace(/[^0-9]/g,''); 
     	$.ajax({
     		url:'getPS.php',
         	dataType:'json',
         	processData: false, 
         	type:'get',
         	success:function(data){
         		$('#Pregnancy').val(data[obj].Pregnancy);
         		$('#birth').val(data[obj].birth);
         		$('#abortion').val(data[obj].abortion);
         		$('#lastMenstruation').val(data[obj].lastMenstruation);
         		$('#allergy').val(data[obj].allergy);
         		$('#zhongliuHome').val(data[obj].zhongliuHome);
         		$('#diseasetime').val(data[obj].diseasetime);
         		$('#diseasename').val(data[obj].diseasename);
         		$('#diseaseremark').val(data[obj].diseaseremark);                 //把获取的数据显示在页面上
         		$('#time').val(data[obj].time);
         		$('#name').val(data[obj].name);
         		$('#baseInfo').val(data[obj].baseInfo);
         		$('#ascites').val(data[obj].ascites);
         		$('#lump').val(data[obj].lump);
         		$('#frozenExamine').val(data[obj].frozenExamine);
         		$('#pathologyExamine').val(data[obj].pathologyExamine);
         		$('#residualDisease').val(data[obj].residualDisease);
         		$('#doctor').val(data[obj].doctor);
         		$('#hospital').val(data[obj].hospital);
         		/*console.log(data)
         		$('#inputAlle').val(data.data[0].allergy)
         		$('#inputCancer').val(data.data[0].cancer)

         		//疾病史
         		$('#dieaseTime').val(data.data1[0].time)
         		$('#dieaseName').val(data.data1[0].name)
         		$('#remark').val(data.data1[0].remark)
         		
         		//手术史
         		$('#operationTime').val(data.data2[0].time)
         		$('#operationName').val(data.data2[0].name)
         		$('#baseInfo').val(data.data2[0].baseInfo)
         		$('#ascites').val(data.data2[0].ascites)
         		$('#lump').val(data.data2[0].lump)
         		$('#frozenExamine').val(data.data2[0].frozenExamine)
         		$('#pathologyExamine').val(data.data2[0].pathologyExamine)
         		$('#residualDisease').val(data.data2[0].residualDisease)
         		$('#doctor').val(data.data2[0].doctor)
         		$('#hospital').val(data.data2[0].hospital)

         		//======================================
			$('#addTab1').click(function(){
				$('#add1').append("<tr>"+
				"<td></td>"+
				" <td><input type='text' id='operationTime'/></td>"+
	            "<td> <input type='text' id='operationName'/></td>"+
	            "</tr>"
	            	);
				});

			$('#addTab2').click(function(){
				$('#add2').append("<table><tbody><tr><td width='100' ></td> </tr> </tbody></table>"+
					"<table ><tbody ><tr><td></td> "+
					"<td >手术时间</td><td>手术名称</td></tr>"+
					"<tr><td width='100'></td><td><input type='text' id='operationTime' /></td>"+
	            	"<td> <input type='text' id='operationName'/></td></tr></tbody></table>"+
					"<table><tbody><tr><td width='100'></td><td>术中见</td></tr></tbody></table>"+
					"<table><tbody><tr><td width='100'>基本情况：</td><td><textarea class='result_width' wrap='hard' id='baseInfo'></textarea></td></tr></tbody></table> "+
					"<table><tbody><tr> <td width='100'>腹水情况：</td> <td><textarea class='result_width' wrap='hard' id='ascites'></textarea></td> </tr> </tbody></table>"+
					"<table><tbody> <tr><td width='100'>肿块情况：</td><td><textarea class='result2_width' wrap='hard' id='lump'></textarea></td></tr> </tbody></table> "+
					"<table><tbody> <tr><td width='100'></td> <td>术中冰冻检查</td></tr> "+
					"<tr><td width='100'></td><td><textarea class='result2_width' wrap='hard' id='frozenExamine'></textarea></td></tr></tbody></table>"+
					"<table><tbody><tr><td width='100'></td><td>术后病理检查</td></tr><tr> <td width='100'></td><td><textarea class='result2_width' wrap='hard' id='pathologyExamine'></textarea></td></tr> </tbody></table>"+
					"<table> <tbody><tr> <td width='100'></td><td>残留病灶</td></tr><tr><td width='100'></td><td><input class='result1_width' type='text' id='residualDisease' /></td></tr></tbody></table>");
				});*/

         	}
     	});


		//=========================================
		$("a").attr("href","./index1.html?id="+obj);

});
</script>
<body>
	<div class="content" >
        <p class="titleText">既往史</p>
        <a class="person_in_btn">&lt;返回首页</a>
    </div>
	<div class="times">
	    <table>
	        <tbody>
	        <tr>
	            <td>月经生育史：</td>
	            <td width="85">孕次</td>
	            <td width="85">产次</td>
	            <td width="85">流产次</td>
	            <td width="85">末次月经</td>
	        </tr>
	        <tr>
	            <td></td>
	            <td><input class="person_height" type="text" id="Pregnancy" /></td>
	            <td><input class="person_height" type="text" id="birth" /></td>
	            <td><input class="person_height" type="text" id="abortion" /></td>
	            <td><input class="person_height" type="text" id="lastMenstruation" /></td>
	            <td>岁</td>
	        </tr>
	        </tbody>
	    </table>
	</div>
	<div class="defaultHis">
        <table>
            <tbody>
                <tr>
                    <td>过敏史：</td>
                    <td><input class="result1_width" type="text" id="allergy" /></td>
                </tr>
                <tr>
                    <td>肿瘤家族史：</td>
                    <td><input class="result1_width" type="text" id="zhongliuHome" /></td>
                </tr>
            </tbody>
        </table>
    </div>
	<div class="dieaseHis">
	    <table >
	        <tbody id="add1">
	            <tr>
	                <td width="100">疾病史：</td>
	                <td id="add">时间</td>
	                <td id="add">疾病名称</td>
	            </tr>
	            <tr >
	                <td width="100"></td>
	                <td ><input type="text" id="diseasetime" /></td>
	                <td> <input type="text" id="diseasename"/></td>
	            </tr>
	        </tbody>
	    </table>        
        <table class="dremark">
	        <tbody>
	            <tr>
	                <td width="100"></td>
	                <td>备注</td>
	            </tr>
	            <tr>
	                <td width="100"></td>
	                <td><textarea class="result_width" wrap="hard" id="diseaseremark"></textarea></td>
	            </tr>
	        </tbody>
        </table>
	</div>
	<div class="operationHis" id="add2">
	    <table>
	        <tbody>
	            <tr>
	                <td width="100" >手术史：</td>
	                <td >手术时间</td>
	            	<td>手术名称</td>
	            </tr>       
	        <tr>
	            <td width="100"></td> 
	            <td><input type="text" id="time" /></td>
	            <td> <input type="text" id="name"/></td>
	        </tr>
	        </tbody>
	    </table>
	        
	    <table>
	        <tbody>
	        <tr>
	            <td width="100"></td>
	            <td>术中见</td>
	        </tr>
	        </tbody>
	    </table>
	        
	    <table>
	        <tbody>
	        <tr>
	            <td width="100">基本情况：</td>
	            <td><textarea class="result_width" wrap="hard" id="baseInfo"></textarea></td>
	        </tr>
	        </tbody>
	    </table>
	    <table>
	        <tbody>
	        <tr>
	            <td width="100">腹水情况：</td>
	            <td><textarea class="result_width" wrap="hard" id="ascites"></textarea></td>
	        </tr>
	        </tbody>
	    </table>
	    <table>
	        <tbody>
	        <tr>
	            <td width="100">肿块情况：</td>
	            <td><textarea class="result_width" wrap="hard" id="lump"></textarea></td>
	        </tr>
	        </tbody>
	    </table>
	    <table>
	        <tbody>
	        <tr>
	            <td width="100"></td>
	            <td>术中冰冻检查</td>
	        </tr>
	        <tr>
	            <td width="100"></td>
	            <td><textarea class="result2_width" wrap="hard" id="frozenExamine"></textarea></td>
	        </tr>
	        </tbody>
	    </table>
	    <table>
	        <tbody>
	        <tr>
	            <td width="100"></td>
	            <td>术后病理检查</td>
	        </tr>
	        <tr>
	            <td width="100"></td>
	            <td><textarea class="result2_width" wrap="hard" id="pathologyExamine"></textarea></td>
	        </tr>
	        </tbody>
	    </table>
	    <table>
	        <tbody>
	        <tr>
	            <td width="100"></td>
	            <td>残留病灶</td>
	        </tr>
	        <tr>
	            <td width="100"></td>
	            <td><input class="result1_width" type="text" id="residualDisease" /></td>
	        </tr>
	        </tbody>
	    </table>
	    </div>
	    <div>
	    <table>
	        <tbody>
	            <tr>
	                <td width="100"></td>
	                <td>手术医生</td>
	                <td>手术医院</td>
	            </tr>
	            <tr>
	                <td width="100"></td>
	                <td><input type="text" id="doctor" /></td>
	                <td><input type="text" id="hospital" /></td>
	            </tr>
	            
	        </tbody>
	    </table>
	</div>
	<!-- <div class="submitDiv" >
        <input class="submitBtn" type="submit" value="提交" />
    </div> -->

</body>
</html>