<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>就诊经过</title>
    <link type="text/css" rel="stylesheet" href="../static/inspectExperienceStyle.css">
    <script src="../static/jquery-3.1.1.min.js" type="text/javascript"></script>
</head>

<script type="text/javascript">
$(document).ready(function(){ 
    var obj= document.location.search;
     obj = obj.replace(/[^0-9]/g,''); 
     $.ajax({
         url:'getIE.php',
         dataType:'json',
         processData: false, 
         type:'get',
         success:function(data){
                    $('#firstVisitTime').val(data[obj].firstVisitTime);
                    $('#firstVisitDoc').val(data[obj].firstVisitDoc);
                    $('#firstVisitHip').val(data[obj].firstVisitHip);
                    $('#mainComplain').val(data[obj].mainComplain);
                    $('#electro').val(data[obj].ECGTime);
                    $('#data9r').val(data[obj].ECGResult);
                    $('#selpathology').val(data[obj].bingliCheck);
                    $('#data11pathoid').val(data[obj].bingliNum);
                    $('#data11diag').val(data[obj].bingliResult);




           /* console.log(data);
            console.log(data.data11);
            console.log(data.data3[0]);
            console.log(data.data3[0].CA125_endTime);
            
            //心电图
            $('#electro').val(data.data9[0].time);
            $('#data9r').val(data.data9[0].result);

             //影像检查
            $("#imageCheck").bind('change',function(){
               var selected_value = $(this).val(); 
                if(selected_value == '0'){  //如果点击了第一个下拉框的请选择，就把后面下拉框清空
                        $('#imageDateCheck').empty();
                        $("#imageDateCheck").append("<option  value=\"\">请选择时间</option>");  
                    }else if(selected_value=='CT'){//CT
                        $('#imageDateCheck').empty();
                        $("#imageDateCheck").append("<option  value=\"\">请选择时间</option>");
                        var datas10=data.data10[0];
                        //循环添加
                        var html10="";
                        //遍历datas3键值对
                        $.each(datas10,function(i){
                            var value=i;
                            var text=datas10[i];
                             html10+=  "<option value="+value+">" + text + "</option>";
                        });
                        $('#imageDateCheck').append(html10);

                        } 
                    });

            //病理检查：pathology
            $('#data11pathoid').val(data.data11[0].pathology_id);
            $('#data11diag').val(data.data11[0].diagnosis);
            $('#selpathology').val(data.data11[0].time);
            
            //检验
            $('#selCheck').bind('change',function(){
                var selected_value = $(this).val(); 
                if(selected_value == '0'){  //如果点击了第一个下拉框的请选择，就把后面下拉框清空
                        $('#selDate').empty();
                        $("#selDate").append("<option  value=\"\">请选择时间</option>");  
                    }else if(selected_value=='data3'){//肿瘤标志物
                        $('#selDate').empty();
                        $("#selDate").append("<option  value=\"\">请选择时间</option>");
                        var datas3=data.data3[0];
                        //循环添加
                        var html3="";
                        //遍历datas3键值对
                        $.each(datas3,function(i){
                            var value=i;
                            var text=datas3[i];
                             html3+=  "<option value="+value+">" + text + "</option>";
                            });
                        $('#selDate').append(html3);

                        }else if(selected_value=='data4'){//血常规
                            $('#selDate').empty();
                            $("#selDate").append("<option  value=\"\">请选择时间</option>");
                            var datas4=data.data4[0];
                            //循环添加
                            var html4="";
                            //遍历datas4键值对
                            $.each(datas4,function(i){
                            var value=i;
                            var text=datas4[i];
                             html4+=  "<option value="+value+">" + text + "</option>";
                            });
                            $('#selDate').append(html4);

                        }else if(selected_value=='data5'){//生化B
                            $('#selDate').empty();
                            $("#selDate").append("<option  value=\"\">请选择时间</option>");
                            var datas5=data.data5[0];
                            //循环添加
                            var html5="";
                            //遍历datas5键值对
                            $.each(datas5,function(i){
                            var value=i;
                            var text=datas5[i];
                             html5+=  "<option value="+value+">" + text + "</option>";
                            });
                            $('#selDate').append(html5);

                        }else if(selected_value=='data6'){//小便分析
                            $('#selDate').empty();
                            $("#selDate").append("<option  value=\"\">请选择时间</option>");
                            var datas6=data.data6[0];
                            //循环添加
                            var html6="";
                            //遍历datas6键值对
                            $.each(datas6,function(i){
                            var value=i;
                            var text=datas6[i];
                             html6+=  "<option value="+value+">" + text + "</option>";
                            });
                            $('#selDate').append(html6);

                        }else if(selected_value=='data7'){//粪便隐血试验
                            $('#selDate').empty();
                            $("#selDate").append("<option  value=\"\">请选择时间</option>");
                            var datas7=data.data7[0];
                            //循环添加
                            var html7="";
                            //遍历datas8键值对
                            $.each(datas7,function(i){
                            var value=i;
                            var text=datas7[i];
                             html7+=  "<option value="+value+">" + text + "</option>";
                            });
                            $('#selDate').append(html7);

                        }else if(selected_value=='data8'){//HBV—DNA
                            $('#selDate').empty();
                            $("#selDate").append("<option  value=\"\">请选择时间</option>");
                            var datas8=data.data8[0];
                            //循环添加
                            var html8="";
                            //遍历datas8键值对
                            $.each(datas8,function(i){
                            var value=i;
                            var text=datas8[i];
                             html8+=  "<option value="+value+">" + text + "</option>";
                            });
                            $('#selDate').append(html8);
                        }

            })*/
        
         
          /*$('#addTab1').click(function(){
             $('#add1').append("<tr><td></td><td>"+
                "<select class='select_input' id='selCheck'>"+
                "<option>肿瘤标志物</option>"+
                "<option>血常规五分类</option>"+
                "<option>生化B（电解质／肝肾糖／脂A）</option>"+
                "<option>小便分析</option>"+
                "<option>粪便隐血试验</option>"+
                "<option>HBV—DNA</option></select></td>"+
                "<td><select class='select_date' id='selDate'>"+
                "<option value='0'>请选择时间</option></select></td></tr>");
                         });*/

            /*$('#addTab2').click(function(){
             $('#add2').append("<table><tbody> <tr><td width='40px'></td><td>"+
                "<input type='text' name='' width='210px' id='electro' /></td>"+
                "<td><label for='normal'>正常&nbsp;</label>"+
                "<input name='normal' type='radio' id='normal'/>"+
                "<label for='abnormal'>&nbsp;&nbsp;&nbsp;异常&nbsp;</label>"+
                "<input name='normal' type='radio' checked='checked' id='abnormal'/></td>"+
                "<td></td></tr>"+
                "<tr><td></td>"+
                "<td>结果</td></tr>"+
                "<tr><td></td>"+
                "<td width='40'><input class='resultInput' type = 'text'id='data9r/>"+
                "</td></tr></tbody></table>");
                        });*/
             //================================================================================== 
         }
        })
      $("a").attr("href","./index1.html?id="+obj);
})
</script>
<body>
    <div class="head" >
        <p class="pstyle">患者就诊经过</p>
        <a class="person_in_btn">&lt;返回首页</a>
    </div>
    <div>
        <table>
            <tbody>
                <tr>
                    <td>初诊时间：<input class="first" type = "text" id="firstVisitTime" /></td>
                    <td>初诊医生：<input class="first" type = "text" id="firstVisitDoc" /></td>
                    <td>初诊医院：<input type = "text"  id="firstVisitHip"/></td>
                </tr>
                <tr>
                    <td>主诉：</td>
                    <td><input class="main_tell" type = "text" / id="mainComplain"></td>
                </tr>
                <tr>
                    <td>普通查体：</td>
                    <td>时间</td>
                    <td>结果</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="date" value="2014-06-01"/></td>
                    <td><input class="result" type = "text" id="datapt"  value="正常" /></td>
                </tr>
                <tr>
                    <td>专科查体：</td>
                    <td>时间</td>
                    <td>结果</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="date" value="2014-06-01"/></td>
                    <td><input class="result" type = "text" id="datazk" value="正常" /></td>
                </tr>
                <tr>
                    <td>外阴：
                        <select class="select_six" id="data14">
                            <option value="1">无异常</option>
                            <option value="2">异常</option>
                        </select>
                    </td>
                    <td></td>
                    <td>阴道：
                        <select class="select_six" id="data14">
                            <option value="1">无异常</option>
                            <option value="2">异常</option>
                        </select>
                    </td>
                    <td></td>
                    <td>宫颈：
                        <select class="select_six" id="data14">
                            <option value="1">无异常</option>
                            <option value="2">异常</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>子宫：
                        <select class="select_six" id="data14">
                            <option value="1">无异常</option>
                            <option value="2">异常</option>
                        </select>
                    </td>
                    <td></td>
                    <td>附件：
                        <select class="select_six" id="data14">
                            <option value="1">无异常</option>
                            <option value="2">异常</option>
                        </select>
                    </td>
                    <td></td>
                    <td>其他：
                        <select class="select_six" id="data14">
                            <option value="1">无异常</option>
                            <option value="2">异常</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table>
            <tbody id="add1">
                <tr>
                    <td>检验:</td>
                    <td>项目</td>
                    <td>时间</td>
                </tr>
                <tr>
                    <td><input type="button" id="addTab1" class="dis_add_btn" value="添加" /></td>
                    <td id="data3">
                        <select class="select_input" id="selCheck" >
                            <option value="0">请选择项目</option>
                            <option value="data3">肿瘤标志物</option>
                            <option value="data4">血常规五分类</option>
                            <option value="data5">生化B（电解质／肝肾糖／脂A）</option>
                            <option value="data6">小便分析</option>
                            <option value="data7">粪便隐血试验</option>
                            <option value="data8">HBV—DNA</option>
                        </select>
                    </td>
                    <td>
                        <select class="select_date" id="selDate" >
                            <!-- <option selected="selected" value="">请选择...</option> -->
                             <option value="0">请选择时间</option>        
                            <!-- <option >2014/06/01</option>
                            <option >2014/07/01</option>  -->
                        </select>
                    </td>
                </tr>
        </table>
    </div>
    <div>
        <table>
            <tbody >
                <tr>
                    <td>心电图：</td>
                    <td>时间</td>
                </tr>
            </tbody>
        </table>
    </div>           
     <div id="add2">
        <table> 
            <tbody>
                <tr>
                    <td><input type="button" id="addTab2" class="dis_add_btn" value="添加"/></td>
                    <td>
                    <input type="text" name="" width="210px" id="electro" />
                        <!-- <select class="select_input" id="electro" >
                            <option value="1"></option>
                            <option value="2"></option>
                        </select> -->
                    </td>
                    <td>
                        <label for="normal">正常&nbsp;</label>
                        <input name="normal" type="radio" id="normal"/>
                        <label for="abnormal">&nbsp;&nbsp;&nbsp;异常&nbsp;</label>
                        <input name="normal" type="radio" checked="checked" id="abnormal"/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>结果</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="resultInput" type = "text" id="data9r" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table>
            <tbody>
                <tr>
                    <td width="100px">影像检查：</td>
                    <td>项目</td>
                    <td>时间</td>
                </tr>
                <tr>
                    <td ></td>
                    <td>
                        <select class="select_input" id="imageCheck">
                            <option value="0">请选择项目</option>
                            <option value="CT">CT</option>
                            <option value="CS">CS（超声）</option>
                            <option value="MRI">MRI</option>
                            <option value="FS">FS（放射）</option>
                            <option value="WEI">胃肠镜</option>
                            <option value="Nao">脑电图</option>
                        </select>
                    </td>
                    <td>
                        <select class="select_date" id="imageDateCheck">
                            <option value="0">请选择时间</option>
                        </select>
                    </td>
                    <td>
                        <label for="positive">阳性&nbsp;</label>
                        <input name="property" type="radio" id="positive"/>
                        <label for="negative">&nbsp;&nbsp;&nbsp;阴性&nbsp;</label>
                        <input name="property" type="radio" checked="checked" id="negative"/>   
                    </td>
                </tr>
                <tr>
                    <td>病理检查：</td>
                    <td>时间</td>
                    <td>编号</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                    <input type="text" name="" width="210px" id="selpathology" />
                        <!-- <select class="select_date" id="selpathology">
                            <option value="0">请选择时间</option>
                        </select> -->
                    </td>
                    <td><input type = "text" id="data11pathoid" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td>病理诊断</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="resultInput" type = "text" id="data11diag" /></td>
                </tr>
                <tr>
                    <td>诊断：</td>
                    <td>
                        <select class="select_input">
                            <option>卵巢癌</option>
                            <option>宫颈癌</option>
                            <option>子宫内膜癌</option>
                            <option>输卵管癌</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>分型</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <select class="select_input">
                            <option>上皮性</option>
                            <option>生殖细胞</option>
                        </select>
                    </td>
                    <td>
                        <select class="select_input">
                            <option>浆液性腺癌</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>分期</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <select class="select_input">
                            <option>I</option>
                            <option>II</option>
                            <option>III</option>
                            <option>IV</option>
                        </select>
                        <select class="select_input">
                            <option>a</option>
                            <option>b</option>
                            <option>c</option>
                        </select>
                        期
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="submitDiv" >
            <button type="submit" class="submitBtn" onclick="infosubmit()">提交</button>
            <font color="red" id="dialog"></font>
    </div> -->

</body>
</html>